.data-field-label {
    font-weight: bold;
    min-width: 180px;
    max-width: 200px;
}

.data-field-label-xs {
    font-weight: bold;
    min-width: 80px;
    max-width: 200px;
}

.data-field-label-s {
    font-weight: bold;
    min-width: 100px;
    max-width: 200px;
}
.data-field-label-m {
    font-weight: bold;
    min-width: 130px;
    max-width: 200px;
}

.data-field-value {
    font-weight: normal;
}

/* neutral hint on any sortable column */
.osn-table th.orderable>a {
    position: relative;
    padding-right: 1rem;
    /* room for the arrow */
    text-decoration: none;
}

.osn-table th.orderable>a::after {
    content: "↕";
    /* unsorted */
    position: absolute;
    right: 0;
    font-size: .8em;
    opacity: .5;
}

/* current sort direction */
.osn-table th.orderable.asc>a::after {
    content: "▲";
    opacity: 1;
}

.osn-table th.orderable.desc>a::after {
    content: "▼";
    opacity: 1;
}

/* optional: highlight the sorted column header */
/* .osn-table th.asc,
.osn-table th.desc {
    background: rgba(0, 0, 0, .04);
} */