{% extends "_base.html" %}
{% load i18n %}

{% block content %}
<div class="flex-grow-1 d-flex align-items-center justify-content-center">
  <main class="form-signin w-100" style="max-width: 330px; padding: 1rem;">
    <form method="post">
      <h1 class="h3 mb-3 fw-normal text-center">{% trans "Sign Out" %}</h1>
      <p class="mb-4 text-center">{% trans "Are you sure you want to sign out?" %}</p>
      {% csrf_token %}
      <button class="btn btn-danger w-100 py-2" type="submit">{% trans "Sign Out" %}</button>
    </form>
  </main>
</div>
{% endblock %}
