{% extends "_base.html" %}
{% load i18n %}

{% block content %}
<div class="flex-grow-1 d-flex align-items-center justify-content-center">
  <main class="w-100 px-1 px-sm-4" style="max-width: 100%; padding-top: 1rem; padding-bottom: 1rem;">
    <div class="bg-white shadow rounded-4 p-3 p-sm-4 mx-auto" style="max-width: 330px;">
      <form method="post" action="{% url 'account_change_password' %}">
        <h1 class="h3 mb-3 fw-normal text-center">{% trans "Change Password" %}</h1>
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="form-floating mb-2">
          <input type="password" name="oldpassword" class="form-control{% if form.oldpassword.errors %} is-invalid{% endif %}" id="id_oldpassword" placeholder="Old Password" required>
          <label for="id_oldpassword">{% trans "Old Password" %}</label>
          {% if form.oldpassword.errors %}
            <div class="invalid-feedback">
              {{ form.oldpassword.errors }}
            </div>
          {% endif %}
        </div>
        <div class="form-floating mb-2">
          <input type="password" name="password1" class="form-control{% if form.password1.errors %} is-invalid{% endif %}" id="id_password1" placeholder="New Password" required>
          <label for="id_password1">{% trans "New Password" %}</label>
          {% if form.password1.errors %}
            <div class="invalid-feedback">
              {{ form.password1.errors }}
            </div>
          {% endif %}
        </div>
        <div class="form-floating mb-2">
          <input type="password" name="password2" class="form-control{% if form.password2.errors %} is-invalid{% endif %}" id="id_password2" placeholder="Confirm New Password" required>
          <label for="id_password2">{% trans "Confirm New Password" %}</label>
          {% if form.password2.errors %}
            <div class="invalid-feedback">
              {{ form.password2.errors }}
            </div>
          {% endif %}
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">{% trans "Change Password" %}</button>
      </form>
    </div>
  </main>
</div>
{% endblock %}
