{% extends "_base.html" %}
{% load i18n %}

{% block content %}
<div class="flex-grow-1 d-flex align-items-center justify-content-center bg-body-tertiary">
  <main class="form-signin w-100" style="max-width: 330px; padding: 1rem;">
    <form method="post" action="{% url 'account_change_password' %}">
      <h1 class="h3 mb-3 fw-normal text-center">{% trans "Change Password" %}</h1>
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
      {% endif %}
      <div class="form-floating mb-2">
        <input type="password" name="oldpassword" class="form-control" id="id_oldpassword" placeholder="Old Password" required>
        <label for="id_oldpassword">{% trans "Old Password" %}</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" name="password1" class="form-control" id="id_password1" placeholder="New Password" required>
        <label for="id_password1">{% trans "New Password" %}</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" name="password2" class="form-control" id="id_password2" placeholder="Confirm New Password" required>
        <label for="id_password2">{% trans "Confirm New Password" %}</label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">{% trans "Change Password" %}</button>
    </form>
  </main>
</div>
{% endblock %}
