<!-- templates/_base.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style>
        html, body { height: 100%; margin: 0; }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}OSN Image Processing Automation{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><i class="bi bi-images"></i> OSN Image Processing Automation</a>
            <div class="collapse navbar-collapse justify-content-end">
                
                {% if user.is_authenticated %}
                <form class="d-flex me-3" method="get" action="{% url 'search_jobs_exports' %}">
                  <input class="form-control me-2" type="search" name="q" placeholder="Search Job/Export ID" aria-label="Search" required>
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'job_list' %}">Jobs</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <a class="btn btn-outline-primary" href="{% url 'account_login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container mt-3">
    {% block content %}
    {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>